/* Dual Maps CSS */
#map-canvas-1, #map-canvas-2 {
  height: 500px;
  width: 100%;
}

#map-content-wrapper-1, #map-content-wrapper-2 {
  position: relative;
  margin-top: -502px;
  margin-bottom: 150px;
}

#map-content-1, #map-content-2 {
  margin-top: 40px;
  padding: 50px 60px;
  background: #fff;
  -webkit-transition: opacity 0.5s, visibility 0.6s, margin-top 0.5s;
  transition: opacity 0.5s, visibility 0.6s, margin-top 0.5s;
}

#btn-show-content-1, #btn-show-content-2 {
  padding: 20px;
  background: #fff;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: opacity 0.5s, visibility 0.6s, margin-top 0.5s;
  transition: opacity 0.5s, visibility 0.6s, margin-top 0.5s;
}